www.ellaspantry.co.uk {
	handle /images/recipes/* {
		root * /srv/recipe-images
		uri strip_prefix /images/recipes
		file_server
	}
	handle /images/avatars/* {
		root * /srv/avatar-images
		uri strip_prefix /images/avatars
		file_server
	}
	reverse_proxy app:3000
}

http://ellaspantry.co.uk {
	redir https://www.ellaspantry.co.uk{uri} permanent
}

ellaspantry.co.uk {
	redir https://www.ellaspantry.co.uk{uri} permanent
}
